/* Fonts */
@import url(https://fonts.bunny.net/css?family=figtree:400,500,600,700)
layer(base);

/* Tailwind CSS */
@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    Figtree, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-emerald-50: #edfff7;
  --color-emerald-100: #d5ffee;
  --color-emerald-200: #aeffde;
  --color-emerald-300: #70ffc6;
  --color-emerald-400: #2bfda7;
  --color-emerald-500: #00dc82;
  --color-emerald-600: #00c06d;
  --color-emerald-700: #009658;
  --color-emerald-800: #067549;
  --color-emerald-900: #07603e;
  --color-emerald-950: #003721;

  --color-shark-50: #f7f7f8;
  --color-shark-100: #efeef0;
  --color-shark-200: #dbd9de;
  --color-shark-300: #bab8c1;
  --color-shark-400: #95929e;
  --color-shark-500: #787483;
  --color-shark-600: #615e6b;
  --color-shark-700: #4f4d57;
  --color-shark-800: #44424a;
  --color-shark-900: #3c3a40;
  --color-shark-950: #1c1b1e;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

body {
  @apply bg-shark-100 font-sans text-base text-shark-950 antialiased transition-colors duration-200 ease-in-out dark:bg-shark-950 dark:text-shark-50;
}
